* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
 
  
  h1 {
    margin: 32px 0;
    color: #fff;
    font-size: 24px;
  }
  
  .persona-row.complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .persona-form {
    margin-bottom: 32px;
  }
  .inputContainer{
    display: flex;
    flex-direction: column;
  }
  .outputsContainer{
    width: 800px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 20px;
  }
  .diss{
    width: 100px;
    font-size: 20px;
    margin-left: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
  }
  .diss.value{
    width: 650px;
  }
  .persona-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #3164F4;
    outline: none;
    width: 320px;
    background: transparent;
    color: #000;
    margin-bottom: 10px;
  }
  .persona-input.bio{
    height: 120px;
  }
  
  .persona-input::placeholder {
    color: #000;
  }
  
  .persona-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgb(151, 140, 234) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  
  .persona-input.edit {
    border: 2px solid #149fff;
  }
  
  .persona-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgb(151, 140, 234) 100%
    );
    padding: 16px 22px;
  }
  
  .persona-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .persona-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgb(126, 113, 225) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }